* {
  position: relative;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: rgb(69, 68, 68);
}

#box {
  height: 20vmin;
  width: 20vmin;
  background: #99ccff;
  border-radius: 1rem;
}